[user]
	signingkey = D3ED161FF0E3DEA9
	name = Pablo Jiménez Pascual
	email = pablo@jimpas.me
[commit]
	gpgsign = true
[core]
	editor = vim
[credential]
	helper = cache --timeout=3600
[sendemail]
	smtpserver = mail.jimpas.me
	smtpuser = pablo@jimpas.me
	smtpencryption = tls
	smtpserverport = 587
	annotate = yes
[init]
	defaultBranch = master
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
