#!/bin/sh

# This file runs when a DM logs you into a graphical session.
# If you use startx/xinit this file will also be sourced.

/usr/bin/pipewire &
/usr/bin/pipewire-pulse &
/usr/bin/pipewire-media-session &
setxkbmap es &		# Spanish layout in X Org
remaps &		# Run the remaps script, switching caps/esc and more
setbg &			# Set the background with the setbg script
# xrdb ~/.Xresources &	# To use Xresources colors/settings on startup
xcompmgr &		# Transparency with xcompmgr
dunst &			# Notifications with dunst
xset r rate 300 50 &	# Speed xrate up
xset b off		# Turn off Bell
unclutter &		# Remove mouse when idle
syncthing -no-browser &	# Autostart syncthing
redshift &		# Blue light filter
mpd &			# Music player daemon
powertop --auto-tune &	# Power saving
